#nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav li {
    float: left;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

#nav li a,button {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#main {
    display: flex;
    justify-content: center;
}

button{
    background: none;
    border: none;
}
